---
// Component Imports
import MainHead from "../components/MainHead.astro";
import MainBody from "../components/MainBody.astro";
import WorkDisplay from "../components/WorkDisplay";

import meImg from "../../public/images/me.png";
import dedaoImg from "../../public/images/dedao.png";
import tiktokImg from "../../public/images/tiktok.png";
import offlineImg from "../../public/images/offline_workspace.png";
import capcutImg from "../../public/images/capcut.png";
import tutorialImg from "../../public/images/capcut_tutorial.jpg";
---

<html lang="en">
  <head>
    <MainHead
      title="Nicole Huang - Frontend Developer"
      description="Nicole Huang is a Frontend Developer"
    />
  </head>
  <MainBody>
    <section id="hero" class="py-24 intro-animation relative">
      <h1 class="text-5xl mb-4 font-europa_bold text-center">
        Hello, my name is Nicole
      </h1>
      <h2 class="text-3xl font-europa_light text-center">
        I am a frontend developer and I love what I do
      </h2>
      <div class="flex justify-center pt-10">
        <img
          class="rounded-full"
          src={meImg.src}
          width="200px"
        />
      </div>
    </section>
    <section class="bg-[var(--green1)] w-screen h-full pt-20 pb-20">
      <section class="max-w-[1100px] w-full mx-auto h-72 bg-[var(--green3)] rounded-[35px] flex flex-col items-center justify-center">
        <h2 class="text-3xl text-[white] font-europa_regular">
          Hi. Nice to meet you
        </h2>
        <p class="text-2xl text-[white] font-europa_light mt-4">
          I begin my journey as a frontend developer 3 years ago. 
          <br/>
          I excel at creating responsive and visually appealing web applications.
          <br/>
          I'm quietly confident, naturally curious, and perpetually working on improving my chops.
          <br/>
          After gaining experience working in China, I now aspire to work remotely on a global scale.
        </p>
      </section>
      <section class="w-full mt-32">
        <h2 class="text-4xl font-europa_regular text-center">My Recent Work</h2>
        <div class="max-w-[1280px] mx-auto flex mt-20 gap-4">
          <WorkDisplay
            bgColor="white"
            symbol={dedaoImg.src}
            symbolWidth={200}
            text="Efficient knowledge services."
            url="https://www.igetget.com/"
            client:visible
          />
          <WorkDisplay
            bgColor="black"
            symbol={tiktokImg.src}
            symbolWidth={100}
            text="The workspace for Chinese TikTok customer service to address user feedback."
            picture={offlineImg.src}
            client:visible
          />
          <WorkDisplay
            bgColor="white"
            symbol={capcutImg.src}
            symbolWidth={100}
            text="Offer user tutorials for video editing. (a module within the Chinese CapCut App)"
            picture={tutorialImg.src}
            client:visible
          />
        </div>
      </section>
    </section>
  </MainBody>
</html>
